.colors {
  --primary-color: #fbf7f4;
  --secondary-color: #e8998d;
  --tertiary-color: #a1683a;
  --complimentary-color: #6c9a8b;
  --text-color: #191716;
}

body[data-theme='light'] .colors {
  --background-color: white;
  --primary-color: #fbf7f4;
  --secondary-color: #e8998d;
}

body[data-theme='dark'] .colors {
  --background-color: #191716;
  --primary-color: #e8998d;
  --secondary-color: #fbf7f4;

  background-color: var(--background-color);
}

.fonts {
  font-family: Roboto, 'Helvetica Neue', Arial;
}
